<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>React + Handlebars + TypeScript + SCSS Sample Project</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    {{{partial "header"}}}

    <main>
      {{{app}}}
    </main>

    {{{partial "footer"}}}

    <script src="/js/index.js"></script>
  </body>
</html>
